<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Maciej Mensfeld - Calculator</title>

    <link rel="stylesheet" href="./assets/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/stylesheets/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="./assets/stylesheets/application.css" />

    <script src="./assets/javascripts/jquery-1.9.1.js"></script>
<!--
    <script src="./assets/javascripts/calculator.js"></script>
-->
  </head>
  <body>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="./index.html">Bootstrap Calculator</a>
        </div>
      </div>
    </div>


    <div class="container" ng-controller="CalcCtrl">

      <div class="hero-unit" id="calculator-wrapper">
        <div class="row-fluid">
          <div class="span8">
            <div id="calculator-screen" class="uneditable-input">{{ screen }}</div>
          </div>
          <div class="span1" style="text-align: center;">
            <div class="visible-phone">
              =
            </div>
            <div class="hidden-phone">
              =
            </div>
          </div>
          <div class="span3">
            <div id="calculator-result"  class="uneditable-input">{{ result }}</div>
          </div>
        </div>

      </div>

      <div class="row-fluid">

        <div class="span6 well">
          <div id="calc-board">
            <div class="row-fluid">
              <a href="#" class="btn" data-constant="SIN" data-key="115" ng-click="put('sin(', $event)">sin</a>
              <a href="#" class="btn" data-constant="COS" data-key="99" ng-click="put('cos(', $event)">cos</a>
              <a href="#" class="btn" data-constant="MOD" data-key="109" ng-click="put(' mod ', $event)">md</a>
              <a href="#" class="btn btn-danger" data-method="reset" data-key="8" ng-click="reset(); $event.preventDefault();">C</a>
            </div>
            <div class="row-fluid">
              <a href="#" class="btn" data-key="55" ng-click="put(7, $event)">7</a>
              <a href="#" class="btn" data-key="56" ng-click="put(8, $event)">8</a>
              <a href="#" class="btn" data-key="57" ng-click="put(9, $event)">9</a>
              <a href="#" class="btn" data-constant="BRO" data-key="40" ng-click="put('(', $event)">(</a>
              <a href="#" class="btn" data-constant="BRC" data-key="41" ng-click="put(')', $event)">)</a>
            </div>
            <div class="row-fluid">
              <a href="#" class="btn" data-key="52" ng-click="put(4, $event)">4</a>
              <a href="#" class="btn" data-key="53" ng-click="put(5, $event)">5</a>
              <a href="#" class="btn" data-key="54" ng-click="put(6, $event)">6</a>
              <a href="#" class="btn" data-constant="MIN" data-key="45" ng-click="put(' - ', $event)">-</a>
              <a href="#" class="btn" data-constant="SUM" data-key="43" ng-click="put(' + ', $event)">+</a>
            </div>
            <div class="row-fluid">
              <a href="#" class="btn" data-key="49" ng-click="put(1, $event)">1</a>
              <a href="#" class="btn" data-key="50" ng-click="put(2, $event)">2</a>
              <a href="#" class="btn" data-key="51" ng-click="put(3, $event)">3</a>
              <a href="#" class="btn" data-constant="DIV" data-key="47" ng-click="put(' / ', $event)">/</a>
              <a href="#" class="btn" data-constant="MULT" data-key="42" ng-click="put(' * ', $event)">*</a>
            </div>
            <div class="row-fluid">
              <a href="#" class="btn" data-key="46" ng-click="put('.', $event)">.</a>
              <a href="#" class="btn" data-key="48" ng-click="put(0, $event)">0</a>
              <a href="#" class="btn" data-constant="PROC" data-key="37" ng-click="put('%', $event)">%</a>
              <a href="#" class="btn btn-primary" data-method="calculate" data-key="61">=</a>
            </div>
          </div>
        </div>

        <div class="span6 well">
          <legend>History</legend>
          <div id="calc-panel">
            <div id="calc-history">
              <ol id="calc-history-list">
                {{ histories }}
              </ol>
            </div>
          </div>
        </div>
        <hr>

      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
    <script src="./assets/javascripts/angular-calc.js"></script>
  </body>
</html>
